[submodule "Ender-Woods-Common"]
	path = Ender-Woods-Common
	url = https://github.com/RickWillcox/Ender-Woods-Common.git
[submodule "godot-logger"]
	path = godot-logger
	url = https://github.com/KOBUGE-Games/godot-logger.git
